#navbar{
  position: fixed;
  background-color: orange;
  width:300px;
  min-width:270px;
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  left:1px;
  
 }
 #main-doc{
  width: 70%;
  background-color: white;
  margin-left: 350px;
  }
header{
  font-size: 30px;
  text-align: center;
  background-color: orange;
  text-align: center;
  }
#main-doc header{
  text-align: left;
  margin-left: 0px;
}
#navbar ol{
 height: 800px;
 weight: 35px;
 overflow-y:scroll;
 font-size: 20px;
 }
 a:hover{
   background-color: oldlace;
 }
